<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <link rel="stylesheet" href="__BS_CSS__/font.css">
    <link rel="stylesheet" href="__BS_CSS__/xadmin.css">
    <script type="text/javascript" src="__P_JS__/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__BS_LAY__/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__BS_JS__/xadmin.js"></script>
    <script type="text/javascript" src="__BS_JS__/cookie.js"></script>
</head>

<body>
<tool>
    <form class="layui-form" style="display: none;" id="alert_add">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>币名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="type" name="name" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>币种符号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="symbol" name="symbol" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>￥
            </div>
        </div>
        <div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
            </div>
        </div>
    </form>
</tool>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">后台</a>
        <a href="">货币管理</a>
        <a>
          <cite>管理</cite>
        </a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <button class="layui-btn" onclick="show_add()"><i class="layui-icon"></i>添加</button>
    </xblock>
    <table id="coin_list" lay-filter="coin_list" class="layui-table x-admin"></table>
    <script type="text/html" id="coin_switch">
        <input type="checkbox" lay-filter="amount" lay-skin="switch" lay-text="是|否" {{ d.amount==0 ? "" : "checked" }}>
    </script>
    <script type="text/html" id="coin_bar">
        <a onclick="stop(this,{{d.id}})" href="javascript:;"  title="删除"><i class="layui-icon">
            &#xe640;
        </i></a>
        <button type="button" class="layui-btn" onclick="x_admin_show('比例管理:{{d.name}}','proportion.html?cash={{d.id}}')">管理比例</button>
    </script>
    <script type="text/html" id="coin_state">
        <span class="layui-btn layui-btn-normal layui-btn-mini {{d.state == '1' ? '' : 'layui-btn-disabled'}}">{{d.state == '1' ? '使用中'  : '已停用'}}</span>
    </script>
</div>
<script>
    layui.use(['table','form'],function(){
        var table = layui.table;
        var form = layui.form;
        table.render({
            elem: '#coin_list'
            ,height: 470
            ,url: '/admin/json/cashList' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                // {field: 'id', title: 'ID', sort: true, fixed: 'left'}
                {field: 'name', title: '币名', edit:"text"}
                ,{field: 'symbol', title: '符号',edit:'text'}
                ,{title:'操作', toolbar: '#coin_bar'}
            ]]
        });
        table.on('edit(coin_list)', function(obj){
            $.ajax({
                url: '/admin/sub/cashEdit',
                type: 'post',
                data: {"field": obj.field,"value":obj.value,"id":obj.data.id},
                success:function(msg){
                    if(msg=='true'){
                        layer.msg("修改成功");
                    }else{
                        layer.msg("修改失败");
                    }
                }
            });
        });
        form.on('submit(add)', function(data){
            $.ajax({
                url: '/admin/sub/cashAdd',
                type: 'post',
                data: {
                    "name": data.field.name,
                    "symbol": data.field.symbol
                },
                success:function (msg) {
                    if(msg=='true'){
                        layer.msg("添加成功",{time:1500},function(){location.reload()});
                    }else{
                        layer.msg("添加失败");
                    }
                }
            });
            return false;
        });
    })
    function stop(obj,id){
        if($(obj).attr('title')=='删除'){
            layer.confirm('确认要删除吗？',function(index){
                //发异步把用户状态进行更改
                $.ajax({
                    url: '/admin/sub/cashDel',
                    type: 'post',
                    dataType: 'json',
                    data: {"id": id},
                    success:function(msg){
                        if(msg=='true'){
                            layer.msg('删除成功',{time:1500},function () {
                                location.reload();
                            })
                        }else{
                            layer.msg('删除失败',{time:1500},function () {
                                location.reload();
                            })
                        }
                    }
                });

            });
        }
    }
    function show_add(){
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,
                title:'添加',
                content: $('#alert_add'),
                area:['400px','250px']
            })
        });
    }
</script>
</body>

</html>