<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <link rel="stylesheet" href="__BS_CSS__/font.css">
    <link rel="stylesheet" href="__BS_CSS__/xadmin.css">
    <script type="text/javascript" src="__P_JS__/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__BS_LAY__/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__BS_JS__/xadmin.js"></script>
    <script type="text/javascript" src="__BS_JS__/cookie.js"></script>
</head>

<body>
<tool>
    <table class="layui-table" style="margin: 0;display: none" id="tool_table">
        <colgroup>
            <col width="80">
            <col width="120">
        </colgroup>
        <thead>
        <tr>
            <th>币名</th>
            <th>数量</th>
            <th>冻结金额</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table class="layui-table" style="margin-top: 0;display: none"id="message">
        <colgroup>
            <col width="140">
            <col width="280">
        </colgroup>
        <thead>
        <tr>
            <th>时间</th>
            <th>内容</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <form class="layui-form" style="display: none;" id="alert_add">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="user" name="user" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" oninput='this.value=this.value.toString().match(/^[A-Za-z]+$/)'>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>登陆账户名
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>商家
            </label>
            <div class="layui-input-inline">
                <input type="text" id="business" name="business" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="add">增加</button>
            </div>
        </div>
    </form>
</tool>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">超级后台</a>
        <a href="">会员管理</a>
        <a>
          <cite>用户查看</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" >
            <input type="text" name="id" placeholder="请输入ID" autocomplete="off" class="layui-input" value="">
            <input type="text" name="name"  placeholder="请输入用户名" autocomplete="off" class="layui-input" value="">
            <input type="text" name="phone"  placeholder="请输入用户电话" autocomplete="off" class="layui-input" value="">
            <input type="text" name="email"  placeholder="请输入用户邮箱" autocomplete="off" class="layui-input" value="">
            <div class="layui-input-inline">
                <select name="state">
                    <option value="">状态</option>
                    <option value="1">注册</option>
                    <option value="2">正常</option>
                    <option value="3">冻结</option>
                    <option value="4">注销</option>
                </select>
            </div>
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="show_add()"><i class="layui-icon"></i>添加</button>
    </xblock>
    <table id="member_list" lay-filter="member_list" class="layui-table x-admin"></table>
    <script type="text/html" id="member_bar">
        <a onclick="member_stop(this,{{d.id}})" href="javascript:;"  title="{{d.state == '1' ? '正常' : d.state == '0' ? '冻结' : '问题账号'}}"><i class="layui-icon">
            &#{{d.state == '1' ? 'xe601' : 'xe62f' }};
        </i></a>
    </script>
    <script type="text/html" id="member_state">
        <span class="layui-btn layui-btn-normal layui-btn-mini {{d.state == '1' ? '' : 'layui-btn-disabled'}}">{{d.state == '1' ? '正常' : d.state == '0' ? '冻结' : '问题账号'}}</span>
    </script>
</div>
<script>
    layui.use(['table','form'],function(){
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;
        var tableIns=table.render({
            elem: '#member_list'
            ,height: 400
            ,url: '/admin/json/user' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', sort: true, }
                ,{field: 'user', title: '用户名'}
                ,{field: 'money', title: '账户余额'}
                ,{field: 'business', title: '商家',edit:'text'}
                ,{field: 'reg_time', title: '注册时间',  sort: true,templet: '<div>{{getLocalTime(d.reg_time)}}</div>'}
                ,{field: 'remarks', title: '备注',edit:'text'}
                ,{field: 'state', title: '状态',toolbar:'#member_state'}
                ,{ title:'操作', toolbar: '#member_bar'}
            ]]
        });
        table.on('edit(member_list)', function(obj){
            $.ajax({
                url: 'sub/user_info_edit',
                type: 'post',
                dataType: 'json',
                data: {"field": obj.field,"value":obj.value,"id":obj.data.id},
                success:function(msg){
                    if(msg.flag==true){
                        layer.msg("修改成功");
                    }else{
                        layer.msg("修改失败");
                    }
                }
            });
        });
        form.on('submit(sreach)', function(data){
            tableIns.reload({
                where: data.field
                ,page: {
                    curr: 1
                }
            });
            return false;
        });
        form.on('submit(add)',function(data){
            $.ajax({
                url:'/admin/sub/user_add',
                type:'POST',
                data:{
                    user:data.field.user,
                    business:data.field.business
                },
                success:function (msg) {
                  if(msg=='true'){
                      layer.msg('添加成功',function () {
                          location.reload();
                      });
                  }else{
                      layer.msg('添加失败');
                  }
                }

            });
            data.field.business;
        })
    })
    /*用户-停用*/
    function member_stop(obj,id){
        if($(obj).attr('title')=='正常'){
            layer.confirm('确认要停用吗？',function(index){
                //发异步把用户状态进行更改
                $.ajax({
                    url: '/admin/sub/user_state_down',
                    type: 'post',
                    dataType: 'json',
                    data: {"id": id},
                    success:function(msg){
                        if(msg.flag==true){
                            $(obj).attr('title','冻结')
                            $(obj).find('i').html('&#xe62f;');
                            $(obj).parents("tr").find("[data-field='state']").find('span').addClass('layui-btn-disabled').html('冻结');
                            layer.msg('已冻结!',{icon: 5,time:1000});
                        }
                    }
                });
            });
        }else if($(obj).attr('title')=='冻结'){
            layer.confirm('确认要启用吗？',function(index){
                $.ajax({
                    url: '/admin/sub/user_state_up',
                    type: 'post',
                    dataType: 'json',
                    data: {"id": id},
                    success:function(msg){
                        if(msg.flag==true){
                            $(obj).attr('title','正常')
                            $(obj).find('i').html('&#xe601;');
                            $(obj).parents("tr").find("[data-field='state']").find('span').removeClass('layui-btn-disabled').html('正常');
                            layer.msg('已启用!',{icon: 1,time:1000});
                        }
                    }
                });

            });
        }else{
            layer.msg('请联系管理员!',{icon: 2,time:1000});
        }
    }
    function getLocalTime(nS) {
        if(nS==null||nS==''){
            return '无';
        }
        return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');
    }
    function show_add() {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,
                title:'添加',
                content: $('#alert_add'),
                area:['400px','250px']
            })
        });
    }
</script>
</body>

</html>