<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <link rel="stylesheet" href="__BS_CSS__/font.css">
    <link rel="stylesheet" href="__BS_CSS__/xadmin.css">
    <script type="text/javascript" src="__P_JS__/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__BS_LAY__/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__BS_JS__/xadmin.js"></script>
    <script type="text/javascript" src="__BS_JS__/cookie.js"></script>
</head>

<body>
<tool>
    <form class="layui-form" style="display: none;" id="alert_add">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input type="text" name="user" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" oninput='this.value=this.value.toString().match(/^[A-Za-z]+$/)'>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>登陆账户名
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>选择货币
            </label>
            <div class="layui-input-inline" >
                <select name="cash" lay-verify="required" lay-search class="add_cash">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>商家
            </label>
            <div class="layui-input-inline">
                <input type="text" name="business" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>备注该用户所属商家
            </div>
        </div>
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="add">增加</button>
            </div>
        </div>
    </form>
    <div class="layui-tab" style="display: none;" id="send_money">
        <ul class="layui-tab-title">
            <li class="layui-this">虚拟货币到账</li>
            <li>法币到账</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>到账金额
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="money" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input" id="money" oninput='this.value=this.value.toString().match(/^\d+(?:\.\d{0,16})?/)'>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>选择货币
                        </label>
                        <div class="layui-input-inline" >
                            <select name="currency" lay-verify="required" lay-search id="add_curr">
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>实际到账金额
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" autocomplete="off" class="layui-input" id="show_money" disabled>
                        </div>
                    </div>
                    <div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                            </label>
                            <button class="layui-btn" lay-filter="money_currency_add" lay-submit="">增加</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>到账金额
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="money" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input" oninput='this.value=this.value.toString().match(/^\d+(?:\.\d{0,2})?/)'>
                        </div>
                    </div>
                    <div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                            </label>
                            <button class="layui-btn" lay-filter="money_cash_add" lay-submit="add">增加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</tool>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">超级后台</a>
        <a href="">会员管理</a>
        <a>
          <cite>用户查看</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" >
            <input type="text" name="id" placeholder="请输入ID" autocomplete="off" class="layui-input" value="">
            <input type="text" name="name"  placeholder="请输入用户名" autocomplete="off" class="layui-input" value="">
            <input type="text" name="phone"  placeholder="请输入用户电话" autocomplete="off" class="layui-input" value="">
            <input type="text" name="email"  placeholder="请输入用户邮箱" autocomplete="off" class="layui-input" value="">
            <div class="layui-input-inline">
                <select name="state">
                    <option value="">状态</option>
                    <option value="1">注册</option>
                    <option value="2">正常</option>
                    <option value="3">冻结</option>
                    <option value="4">注销</option>
                </select>
            </div>
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="show_add()"><i class="layui-icon"></i>添加</button>
    </xblock>
    <table id="member_list" lay-filter="member_list" class="layui-table x-admin"></table>
    <script type="text/html" id="member_bar">
        <a onclick="member_stop(this,{{d.id}})" href="javascript:;"  title="{{d.state == '1' ? '正常' : d.state == '0' ? '冻结' : '问题账号'}}"><i class="layui-icon">
            &#{{d.state == '1' ? 'xe601' : 'xe62f' }};
        </i></a>
        <a onclick="x_admin_show('用户管理','member_edit?id='+{{d.id}})" href="javascript:;"><i class="layui-icon">&#xe716;</i></a>
        <a onclick="send_money({{d.cash}},{{d.id}})" href="javascript:;"><i class="layui-icon">&#xe659;</i></a>
        <a onclick="x_admin_show('余额记录查看','recode?id='+{{d.id}})" href="javascript:;"><i class="layui-icon">&#xe60b;</i></a>
    </script>
    <script type="text/html" id="member_state">
        <span class="layui-btn layui-btn-normal layui-btn-mini {{d.state == '1' ? '' : 'layui-btn-disabled'}}">{{d.state == '1' ? '正常' : d.state == '0' ? '冻结' : '问题账号'}}</span>
    </script>
</div>
<script>
    layui.use(['table','form'],function(){
        var table = layui.table;
        var form = layui.form;
        var tableIns=table.render({
            elem: '#member_list'
            ,height: 400
            ,url: '/admin/json/user' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', sort: true, }
                ,{field: 'user', title: '用户名'}
                ,{title: '账户余额',templet:'<div><span class="money">{{d.money}}</span>{{d.symbol}}</div>'}
                ,{field: 'business', title: '商家'}
                ,{field: 'btc', title: 'BTC账号'}
                ,{field: 'eth', title: 'ETH账号'}
                ,{field: 'remarks', title: '备注'}
                ,{field: 'key', title: 'key'}
                ,{field: 'reg_time', title: '注册时间',  sort: true,templet: '<div>{{getLocalTime(d.reg_time)}}</div>'}
                ,{field: 'state', title: '状态',toolbar:'#member_state'}
                ,{ title:'操作', toolbar: '#member_bar'}
            ]]
        });
        form.on('submit(sreach)', function(data){
            tableIns.reload({
                where: data.field
                ,page: {
                    curr: 1
                }
            });
            return false;
        });
        form.on('submit(add)',function(data){
            $.ajax({
                url:'/admin/sub/userAdd',
                type:'POST',
                dataType:"json",
                data:{
                    user:data.field.user,
                    cash:data.field.cash,
                    business:data.field.business
                },
                success:function (msg) {
                  if(msg.code=='1001'){
                      layer.msg('添加成功',{icon: 1,time: 1500},function () {
                          location.reload();
                      });
                  }else{
                      layer.msg(msg.msg);
                  }
                }
            });
            return false;
        });
        form.on('submit(money_currency_add)',function(data){
            if(data.field.money==0){
                layer.msg('请输入金额');
                return false;
            }
            $.ajax({
                url:'/admin/sub/moneySendCurrency',
                type:'POST',
                dataType:"json",
                data:{
                    money:data.field.money,
                    currency:data.field.currency,
                    id:$('#send_money').val()
                },
                success:function (msg) {
                    if(msg.code=='1001'){
                        layer.close(layer.index);
                        $('td[data-field="id"]>div:contains("'+$('#send_money').val()+'")').eq(0).closest('tr').find('.money').html(msg.data);
                        layer.msg('添加成功',{icon: 1,time: 1500});
                    }else{
                        layer.msg(msg.msg);
                    }
                }

            });
            return false;
        });
        form.on('submit(money_cash_add)',function(data){
            if(data.field.money==0){
                layer.msg('请输入金额');
                return false;
            }
            $.ajax({
                url:'/admin/sub/moneySendCurrency',
                type:'POST',
                dataType:"json",
                data:{
                    money:data.field.money,
                    id:$('#send_money').val()
                },
                success:function (msg) {
                    if(msg.code=='1001'){
                        layer.close(layer.index);
                        $('td[data-field="id"]>div:contains("'+$('#send_money').val()+'")').eq(0).closest('tr').find('.money').html(msg.data);
                        layer.msg('添加成功',{icon: 1,time: 1500});
                    }else{
                        layer.msg(msg.msg);
                    }
                }

            });
            return false;
        });
        $.ajax({
            url:'/admin/json/cashList',
            dataType:'json',
            type:'get',
            data: {
                page: 1,
                limit: 100000
            },
            success:function (msg) {
                var str='';
                for(var i = 0; i <msg.data.length; i++){
                    str+='<option value="'+msg.data[i]['id']+'">'+msg.data[i]['name']+msg.data[i]['symbol']+'</option>';
                }
                $(".add_cash").html(str);
                form.render('select');
            }
        });
    })
    /*用户-停用*/
    function member_stop(obj,id){
        if($(obj).attr('title')=='正常'){
            layer.confirm('确认要停用吗？',function(index){
                //发异步把用户状态进行更改
                $.ajax({
                    url: '/admin/sub/userStateDown',
                    type: 'post',
                    dataType: 'json',
                    data: {"id": id},
                    success:function(msg){
                        if(msg.flag==true){
                            $(obj).attr('title','冻结')
                            $(obj).find('i').html('&#xe62f;');
                            $(obj).parents("tr").find("[data-field='state']").find('span').addClass('layui-btn-disabled').html('冻结');
                            layer.msg('已冻结!',{icon: 5,time:1000});
                        }
                    }
                });
            });
        }else if($(obj).attr('title')=='冻结'){
            layer.confirm('确认要启用吗？',function(index){
                $.ajax({
                    url: '/admin/sub/userStateUp',
                    type: 'post',
                    dataType: 'json',
                    data: {"id": id},
                    success:function(msg){
                        if(msg.flag==true){
                            $(obj).attr('title','正常')
                            $(obj).find('i').html('&#xe601;');
                            $(obj).parents("tr").find("[data-field='state']").find('span').removeClass('layui-btn-disabled').html('正常');
                            layer.msg('已启用!',{icon: 1,time:1000});
                        }
                    }
                });

            });
        }else{
            layer.msg('请联系管理员!',{icon: 2,time:1000});
        }
    }
    function getLocalTime(nS) {
        if(nS==null||nS==''){
            return '无';
        }
        return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');
    }
    function show_add() {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,
                title:'添加',
                content: $('#alert_add'),
                area:['450px','300px']
            })
        });
    }
    function send_money(id,uid) {
        $.ajax({
            url:'/admin/json/proportionCashList',
            type:'post',
            dataType:'json',
            data:{'cash':id},
            success:function(obj){
                $('#send_money').val(uid);
                $('#send_money [name="money"]').val('0');
                $('#show_money').val(0);
                var str='';
                for(var i = 0; i <obj.data.length; i++){
                    str+='<option value="'+obj.data[i]['currency']+'" propor="'+obj.data[i]['proportion']+'">'+obj.data[i]['name']+'</option>';
                }
                $('#add_curr').html(str);
                layui.use(['layer','form'], function(){
                    var layer = layui.layer;
                    var form = layui.form;
                    form.render('select');
                    layer.open({
                        type: 1,
                        title:'添加',
                        content: $('#send_money'),
                        area:['450px','350px']
                    })
                });
                $('#money').blur(function () {
                    $('#show_money').val($(this).val()*$('#add_curr [value='+$('#add_curr').val()+']').attr('propor'));
                })
            }
        });
    }

</script>
</body>

</html>